@import "tailwindcss";

@theme {
  --font-rubik: "Robik", sans-serif;
  --color-brand: "#102950";
  --color-secondry: "#ffbe00";
  --color-foreground: "#097bed";
  --color-light-blue: "#00bff3";
  --color-orignal-purple: "6c27b3";
}
